.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.box {
  margin-top: 10px;
  text-align: center;
  flex: 1 0 30%; /* Default for desktop: 3 boxes per row */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
  border-radius: 10px; /* Rounded corners */
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default shadow */
}

.box:hover {
  transform: translateY(-5px); /* Raise the box */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

@media (max-width: 600px) {
  .box {
    flex: 1 0 100%; /* Full width for mobile: 1 box per row */
    width: 100%;
  }
}
